<link rel="stylesheet" href="../style.css">

<header>
    <h1 id="titulo-pagina">Bienvenidos</h1>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../pages/proyectos.html">Proyectos</a></li>
            <li><a href="../pages/habilidades_tecnologias.html">Habilidades y Tecnologías</a></li>
            <li><a href="../pages/contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <button id="theme-toggle">
        <i id="theme-icon" class="far fa-sun"></i>
        <span id="theme-text">Dark off</span>
    </button>
</header>
